
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:bisque;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#header{
    background-color: rgb(51, 50, 50);
}

h1{
    color: white;
    font-size: 35px;
    font-style: italic;
}
h2{
  
     font-size: 28px;
     border-bottom: 2px solid grey;
     color: #837c7c;
}
h3 {
    color: #333;
    font-size: 22px;
    font-style: italic;
}

p {
    line-height: 1.6;
    color: #5d5959;
    font-size: 16px;
}
#p1{
    font-size: 16px;
    font-weight: bolder;
    color: rgb(122, 110, 110);
}
#section1{
    background-color: bisque;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
a{
    display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
}
#logo{
    color: rgb(213, 55, 55);
    font-weight:bolder;
    font-size: 35px;
    background-color: beige;
    font-style: italic;
}



